<%
var wrapLink = function(text) {
  return '<a href="/'+text+'">'+ text + '</a>';
};
var renderType = function(type) {
  if (type.name) {
    var res = ''
    res += wrapLink(type.name);

    if (type.templates) {
      res += '&lt;'

      type.templates.forEach(function(template, index) {
        if (index > 0) {
          res += ', ';
        }
        res += renderType(template);
      });

      res += '&gt;'
    }
    return res;
  }
  else if (type.type === 'Object') {
    return wrapLink(type.type);
  }
  else if (typeof type === 'string') {
    return wrapLink(type);
  }
  else {
    console.log(type);
    throw Error('unexpected type');
  }
};
%>
<h1 class='declaration'>
<span class='hide'>JavaScript</span>
<span class='object'><%= obj.name %></span> 
<% if (obj.type !== 'undefined') { %>
 <span class=' type'> : <%- renderType(obj.type) %></span>
<% } %>
</h1>
<div class='metadata'>
<% if (obj.element) { %>
<span><%= obj.element %></span>
<% } %>
<% if (obj.constructors && obj.constructors.length) { %>
<span>constructor</span>
<% } %>
<% if (obj.primitive) { %>
<span>primitive</span>
<% } %>
<% if (obj.iterable) { %>
<span>iterable</span>
<% } %>
</div>

<div class='objectdescription'>
<%- obj.description %>
<% if (obj.spec || obj.version) { %>
<div class='membermetadata'> 
  <% if (obj.version) { %>
    <span class='<%= getVersionClass(obj.version) %>'><%= obj.version %></span>
  <% } %>
  <% if (obj.spec) { %>
    <a href='<%= obj.spec %>' class='spec'>Spec</a>
  <% } %>
</div>
<% } %>
</div>


<%- render('membergroup', { name: '', 
                            group: obj.overloads}) %>

<%- render('membergroup', { name: 'Constructors', 
                            group: obj.constructors}) %>

<%- render('membergroup', { name: 'Instance Indexers', 
                            group: obj.instanceIndexers }) %>

<%- render('membergroup', { name: 'Instance Properties', 
                            group: obj.instanceProperties}) %>

<%- render('membergroup', { name: 'Instance Methods', 
                            group: obj.instanceMethods}) %>

<%- render('membergroup', { name: 'Instance Events', 
                            group: obj.instanceEvents}) %>

<%- render('membergroup', { name: obj.name + ' Properties', 
                            group: obj.properties}) %>

<%- render('membergroup', { name: obj.name + ' Methods', 
                            group: obj.methods}) %>

<% if (obj.details) { %>
<a name='Details'></a>
<h2>Details</h2>
<div class='details'>
<%- obj.details %>
</div>
<% } %>

