<!DOCTYPE html>
<!-- Copyright JavaScripture.com 
     All code displayed on the site is free to use.  
     All other code may not be used without permission. -->
<html>  
<head>
  <meta charset='utf-8'>
  <title><%= title %></title>
  <% if (locals.obj) { %>
  <meta name="description" content="<%= getPageDescription(obj) %>" />
  <% } else { %>
  <meta name="description" content="<%= locals.description || "Interactive JavaScript API reference. Learn JavaScript quickly and easily." %>" />
  <% } %>

  <link rel='stylesheet' type='text/css' href='styles.css'/>
<script type='text/javascript'>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23450559-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<script>
if (sessionStorage.collapsed === 'true') {
  document.body.classList.add('members-collapsed');
}
</script>

<div class='topnav'>
  <a href='/'>JavaScripture</a>

  <div class='bookmarks'>
    <a class='bookmark contribute' href='https://github.com/nkronlage/JavaScripture'>Contribute via GitHub</a>
    <a class='bookmark' href='/feedback'>Feedback</a>
  </div>
</div>

<div class="container">
  <%- render('leftnav', { obj: locals.obj }) %>

  <div class='content'>
    <%- body %>

    <div class='bottomnav'>
      <a href='/'>home</a>
      <a href='/license'>license</a>
      <a href='https://github.com/nkronlage/JavaScripture'>contribute</a>
      <a href='/feedback'>feedback</a>
    </div>
    <div class='copyright'>
      Copyright © JavaScripture Contributors
    </div>
  </div>
</div>
</body>
<script src='javascripture.js'></script>
</html>
